/* Filtering functionality via Isotope */

/* Button formatting taken care of by w3.css */
/* Button highlighting functionality added for Isotope filtering */

.w3-btn.is-checked {
  color: white;
  background: #28F;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}